
<% if session[:user_id] === nil? %>
    <% redirect_to :controller => 'admin', :action => 'login' %>
<% end %>



<div id="main">
    <div id="sidepanel" style="float: left;">
        <%= render :partial => 'layouts/sidepanel'%>
    </div>

    <div id='calendar'></div>

</div>



