body {
    font-family: 'century gothic';
    width: 100%;
    background-image: url('../images/retina_dust.png');
    margin: 0 0 0 0;
    text-align: center;
    
}

nav {
    display: block;
    width: 100%;
    height: 45px;
    /* border: 2px solid #008000; */
    background-image: url('../images/blue-bg.jpg');
    
}

nav img {
	margin-left: 10px;
	
}

nav #profile {
    padding-top: 3px;

}

nav p {
    font-size: 15px;
	color: #fafafa;
	padding-top: 0px;
	padding-right: 10px;
    float: right;
	
}

nav a {
	color: #fafafa;
	text-decoration: none;
	
}

nav a:visited {
	color: #fafafa;
	
}

nav a:hover {
	color: #fafafa;
	text-decoration: underline;
	
}

#Home {
    float: left;
    height: 45px;

}

#notice {
    float: right;

}

#container {
    box-shadow: 0px 5px 15px black;

    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    text-align: left;
}

#main {
    clear: both;
    display: block;
    /* border: 5px solid #c71585; */
    background-color: white;
    height: 565px;
    width: 100%;
    
}

#sidepanel {
    display: block;
    width: 222px;
    min-height: 400px;	
    float: left;
    
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    
}

#sidepanel #search {
	height: 25px;
	margin-top: 3px;
	
}

#sidepanel #search .search_input {
	
   float: left;	
    width: 200px;
   margin-top: 1px;
   margin-left: 6px;
   padding-left: 7px;
   
   border:1px solid;
   border-radius:3px;
   
}

#sidepanel #search .search_input:hover,
#sidepanel #search .search_input:focus {
	-moz-border-radius:5px; /* Firefox 3.6 and earlier */
   box-shadow: 0px 0px 3px black;
   
}   

#sidepanel .search_button {
	position: relative;
	
	margin-top: 2px;
	margin-left: -27.7px;
    border-radius:3px;
	
}

#sidepanel .search_button img {
    width: 27px;
    height: 27px;
    
}

#sidepanel ul {
	list-style-type: none;
	
}


#sidepanel ul li a{
    text-decoration: none;
    padding-left: 6px;
    
}

#sidepanel ul li a:visited, #friends-btn:visited, #search-btn:visited{
    color: #000066;
    
}

#sidepanel ul li a:hover{
    text-decoration: underline;
    
}

.merge-icon {
    float: right;
    cursor: pointer;
    border: 1px solid gray;
    height: 15px;
    width: 15px;

    margin: 3px 4px 0px 2px;
    
}

.friends, .groups, .search {
	margin-top: 10px;
	width: 224;
	
}

#sidepanel .profile-follow {
    float: right;
    margin-right: 6px;

}

#sidepanel .profile-name {
    float: left;

}

.search #search-btn, .friends #friends-btn {
	padding-left: 6px;
	
}

.searchli p {
    margin-left: 6px;

}

.friends ul li, .groups ul li, .search ul li {
height: 17px; 	
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;

}

.userli {
	width: 224;
	
}

.username {
    float: left;
    
}

.userli .merge-box {
	float: right;
	
}

.userli .merge-box p {
	float: left;		
	
}

#buttons {
    display: inline-block;
    width: 800px;
 
}

#month-button, #week-button, #day-button, #new-button, #left-arrow, #right-arrow {
    cursor: pointer;

}

#new-button {
    float: left;
    position: relative;

    top: 7px;
    left: 10px;
    padding-top: 15px;
    padding-left: 10px;
    height: 12px;
    width: 20px;

    background-image: url('/images/button_add.png');

}

#nav_arrows { 
    float: left;
    position: relative;
    height: 16px;
    left: 246px;
    margin-top: 10px;
    width: 251px;

}

#left-arrow {
    float: left;

}

#right-arrow {
    float: right;

}

#view-selectors {
    float: right;
    position: relative;
    top: 8px;
    margin-right: 10px;

}

#view-selectors .selected {
   box-shadow: 0px 0px 3px black;
   -moz-border-radius:5px; /* Firefox 3.6 and earlier */

}

#month-button, #week-button, #day-button {
    float: right;
    margin-right: 15px;

}

#month-button:hover, #week-button:hover, #day-button:hover {
    box-shadow: 0px 0px 3px black;
   -moz-border-radius:5px; /* Firefox 3.6 and earlier */

}

#calendar {
    display: block;
    width: 800px;
    float: right;

    margin-top: -40px;
    
}



