body {
    width: 100%;
    background-image: url('../images/body-background.jpg');
    
}

nav {
    display: block;
    width: 100%;
    height: 45px;
    /* border: 2px solid #008000; */
    background-image: url('../images/blue-bg.jpg');
    
}

nav img {
	margin-left: 10px;
	
}

nav p {
	font-family: Calibri;
	color: #fafafa;
	padding-top: 20px;
	padding-right: 10px;
	
}

nav a {
	color: #fafafa;
	text-decoration: none;
	
}

nav a:visited {
	color: #fafafa;
	
}

nav a:hover {
	color: #fafafa;
	text-decoration: underline;
	
}

#main {
    clear: both;
    display: block;
    /* border: 5px solid #c71585; */
    background-color: white;
    height: 565px;
    width: 100%;
    
}

#sidepanel {
    display: block;
    width: 222px;
    min-height: 400px;	
    float: left;
    
    border: 1px solid black; 
    background-color: white;
    
}

#sidepanel #search {
	height: 25px;
	margin-top: 3px;
	
}

#sidepanel #search .search_input {
	
   float: left;	
    width: 200px;
   margin-top: 1px;
   margin-left: 6px;
   padding-left: 7px;
   
   border:1px solid ;
   border-radius:3px;
   -moz-border-radius:5px; /* Firefox 3.6 and earlier */
   box-shadow: 0px 0px 3px black;
   
}

#sidepanel .search_button {
	position: relative;
	
	margin-top: 3px;
	margin-left: -27px;
	
}

#sidepanel ul {
	list-style-type: none;
	
}


#sidepanel ul li a{
    text-decoration: none;
    margin-left: 6px;
    
}

.search {
	margin-left: 6px;
	margin-top: 10px;
	
}

.friends, .groups {
	margin-top: 10px;
	width: 224;
	
}

.friends .search-view, .friends .friends-view {
	margin-left: 6px;
}

.friends ul li, .groups ul li {
height: 17px; 	
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;

}

.userli {
	width: 224;
	
}

.username {
    float: left;
    
}

.userli .merge-box {
	float: right;
	
}

.userli .merge-box p {
	float: left;		
	
}

#calendar {
    display: block;
    width: 800px;
    float: right;
    
}



