<%if !@users.nil?%>

<!-- filters out logged in user from search -->
<% @users.each do |user| %>
        <% if user === User.find_by_id(session[:user_id])
            @users = @users - [user]
        end %>
<% end %>

<!-- generates the user list for search based on search criteria, friends, and groups -->
<ul>
    <% @users.each do |user| %>
        <!--
        TODO limit numbers of users so it doesnt fill browser but requires scroll
            down within box
        -->
    <li class="userli" id="<%=user.id%>">
    <div class="profile-name">
        <h3><%=link_to user.name %></h3>
        <p><%= %></p>
    </div>

    <% if current_user.following?(user)  %>

        <% else %>
              <div class="profile-follow">
        <%= link_to image_tag("follow.jpg"), url_for(:controller => "relationships", :action => "create", :f_id => user.id) %>
              </div>
    <% end %>

         <div class="fix"></div><!-- prevent sliding -->
    </li>

    <% end %>

</ul>

    <% else %>
    <p>No search results match your criteria</p>

<%end%>