<li class="userli" id="<%=user.id%>">
    <div class="profile-name">
          <h3><%=link_to user.name %></h3>
    </div>

    <div class="merge-box" style="float:right">
           <p style="float:left;">Merge</p>
           <%= check_box_tag 'mergebox' + user.id.to_s, 1, false, {:onClick => "merge_user(#{user.id});", :remote => true}%>
    </div>

    <div class="fix"></div><!-- prevent sliding -->
</li>
