<li class="showuser" id="<%=user.id%>">
    <div class="username">
          <h3><%=link_to user.name %></h3>
    </div>

    <div class="merge-box">
           <p>Merge</p>
           <%= link_to '', "/users/#{user.id}/merge_events", method: 'GET', remote: true, :class => 'merge-icon', :id => "merge-#{user.id}" %>
    </div>

    <div class="fix"></div><!-- prevent sliding -->
</li>
