<li class="showuser" id="<%=user.id%>">
    <div class="username">
          <h3><%=link_to user.name %></h3>
    </div>

    <div class="merge-box">
           <p>Merge</p>
           <%= link_to "users/#{user.id}/events_merge" do %>
           		<div class="merge-icon" id="mergebox<%= user.id %>" >		
          		</div>	
           <% end %>		 
    </div>

    <div class="fix"></div><!-- prevent sliding -->
</li>
