<!-- Beginning of Modals -->

<!-- Accept ot reject modal -->
  <div id="accept_modal" class="modal hide">
    <div id="modal-body">Hello World!</div> 
  </div>

<!-- New Event Modal -->
  <div id="new_event_modal" class="modal fade hide">
     <p> what uppp!!! </p> 
  </div>  
  <!-- an attempt at using the same modal window for all three -->
  <div id="modal-window" class="modal fade hide">
    <div class="modal-header">
      <h3>Loading...</h3>
    </div>
    <div class="modal-body center">
      <!-- ideally, we'll render a partial in here -->
    </div>
    <div class="modal-footer">&nbsp;</div>
  </div>
<!-- end of modals -->  


