<div id="search">
  <%= render :partial => 'layouts/search' %>
</div><!--search end-->

<div class="search">
  <h4><a href="#" class="search-view"> Search Results</a></h4>
  <%= render :partial=>'users/searchlist', :locals=>{:users => @users}%>
</div>

<div class="friends">
  <h4><a href="#" class="friends-view">Friends</a></h4>
  <!--render friends only-->
    <% if current_user.followers.count != nil %>
      <% following_users = current_user.following_users %>
        <ul class="userli">
            <%= render :partial=>'users/userlist', :as => 'user', :collection => following_users %>
        </ul>
    <% else %>
        <ul class="userli">
             <li>Search for friends!</li>
        </ul>
    <% end %>

</div><!-- friends end -->